<!DOCTYPE html>
<html>

<head>
    <title>Admin Login</title>
    <!-- <link rel="stylesheet" href="../../css/admincss/adminLogin"> -->
    <link rel="stylesheet" href="/css/admincss/adminLogin.css">

</head>

<body>
    <div class="login-container">
        <div class="login-box">
            <h2>Login</h2>
            <form action="/admin/admin" method="POST">
                <div class="input-group">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div class="input-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required>
                </div>

                <div class="container">
                    <div class="col-md-4 mx-auto">
                        <% if (typeof message !=='undefined' ) { %>
                            <div class="alert alert-success text-center">
                                <%= message %>
                            </div>
                            <% } %>
                                <% if (typeof loginmessage !=='undefined' ) { %>
                                    <div class="alert alert-danger text-center">
                                        <%= loginmessage %>
                                    </div>
                                    <% } %>
                    </div>
                </div>
                <div class="input-group">
                    <button type="submit" class="login-button">Login</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>