<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/apple-icon.png">
    <!-- <link rel="icon" type="image/png" href="../assets/img/favicon.png"> -->
    <link rel="icon" type="image/png" href="/assets/img/favicon.png">
    <link rel="stylesheet" href="/assets/css/material-dashboard.css">
    <link rel="stylesheet" href="/assets/css/material-dashboard.css.map">
    <link rel="stylesheet" href="/assets/css/material-dashboard.min.css">
    <title>
       Product Dashboard
    </title>
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css"
        href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />
    <!-- Nucleo Icons -->
    <link href="/assets/css/nucleo-icons.css" rel="stylesheet" />
    <link href="/assets/css/nucleo-svg.css" rel="stylesheet" />
    <!-- Font Awesome Icons -->
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
    <!-- CSS Files -->
    <link id="pagestyle" href="/assets/css/material-dashboard.css?v=3.1.0" rel="stylesheet" />
    <!-- Nepcha Analytics (nepcha.com) -->
    <!-- Nepcha is a easy-to-use web analytics. No cookies and fully compliant with GDPR, CCPA and PECR. -->
    <script defer data-site="YOUR_DOMAIN_HERE" src="https://api.nepcha.com/js/nepcha-analytics.js"></script>
</head>

<body class="g-sidenav-show  bg-gray-200">
    <!--header-->
    <%- include('../partials/adminpartials/aside') %>
        <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
            <!-- Navbar -->
            <%- include('../partials/adminpartials/navbar') %>
                <!-- End Navbar -->

                <div class="row mb-4">
                    <div class="row mb-4">
                        <div class="col-12 grid-margin">
                          <div class="card">
                            <div class="card-body">
                                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                                    <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                                      <h6 class="text-white text-capitalize ps-3">Product Management</h6>
                                    </div>
                                  </div>
                              <div class="table-responsive">
                                <table class="table">
                                  <thead>
                                    <tr>
                                      <th>Sl/no</th>
                                      <th>Product</th>
                                      <th>Product name</th>
                                      <th>Description</th>
                                      <th>Category</th>
                                      <th>Price</th>
                                      <th>Discount</th>
                                      <th>Qty</th>
                                      <th>Action</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td>1</td>
                                      <td>
                                        <!-- <img src="assets/images/faces/face1.jpg" alt="image" /> -->
                                        <img src="" alt="image" />
                                        <!-- <span class="pl-2">Henry Klein</span> -->
                                      </td>
                                      <td>Golden Retriever</td>
                                      <td>Different BreedDifferent Breed</td>
                                      <td>Dog</td>
                                      <td>20000</td>
                                      <td>199</td>
                                      <td>7</td>
                                      <td><button class="btn btn-secondary" >Action</button></td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-12 mt-3">
                          <button class="btn btn-primary btn-block">Add Category</button>
                        </div>
                      </div>

                </div>
                <%- include('../partials/adminpartials/footer') %>
                    </div>
        </main>
</body>

</html>