<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Product Category</h4>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>
                  Sl/no
                </th>
                <th>
                  Category Name
                </th>
                <th>
                  Sales
                </th>
                <!-- <th>
                  ID
                </th> -->
                <th>
                  Edit
                </th>
                <th>
                  Delete
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  1
                </td>
                <td>
                  Dogs
                </td>
                <td>
                  <div class="progress">
                    <div class="progress-bar bg-gradient-success" role="progressbar" style="width: 25%"
                      aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <!-- <td>
                  ST-3
                </td> -->
                <td>
                <button class="btn bg-gradient-success"  >Edit</button>
                </td>
                <td>   
                   <button class="btn bg-gradient-warning" >Delete</button>
                </td>
              </tr>
              
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>