<!-- /*
* Bootstrap 5
* Template Name: Furni
* Template Author: Untree.co
* Template URI: https://untree.co/
* License: https://creativecommons.org/licenses/by/3.0/
*/ -->
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="Untree.co">
  <link rel="shortcut icon" href="favicon.png">

  

		<!-- Bootstrap CSS -->
		<link href="/assets/cssUT/bootstrap.min.css" rel="stylesheet">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
		<link href="/assets/cssUT/tiny-slider.css" rel="stylesheet">
		<link href="/assets/cssUT/style.css" rel="stylesheet">
		<title>contact us </title>
    <style>
      .hero-img-wrap {
        overflow-x: visible
      }
  
      @media only screen and (max-width: 980px) {
        .hero-img-wrap {
          overflow-x: hidden;
     
        }
      }
    </style>
	</head>

	<body>

		<!-- Start Header/Navigation -->
<%- include('../partials/userpartials/header.ejs') %>

		<!-- End Header/Navigation -->
	<!--PreLoader-->
    <div class="loader">
        <div class="loader-inner">
            <div class="circle"></div>
        </div>
    </div>
    <!--PreLoader Ends-->
		<!-- Start Hero Section -->
			<div class="hero">
				<div class="container">
					<div class="row justify-content-between">
						<div class="col-lg-5">
							<div class="intro-excerpt">
								<h1>Contact Us</h1>
								<p class="mb-4">Welcome to our Pet Store's Contact Us Page!

									At Pet Station, we are dedicated to providing the best products and services for your beloved pets. Your satisfaction and the well-being of your furry friends are our top priorities. We understand that you may have questions, feedback, or simply want to connect with us. Our Contact Us page is designed to make it easy for you to reach out and stay in touch.</p>
								<p><a href="/shop" class="btn btn-secondary me-2">Shop Now</a><a href="/shop" class="btn btn-white-outline">Explore</a></p>
							</div>
						</div>
						<div class="col-lg-7">
							<div class="hero-img-wrap">
								<img src="/img/transparent.png" class="img-fluid">
							</div>
						</div>
					</div>
				</div>
			</div>
		<!-- End Hero Section -->

		
		<!-- Start Contact Form -->
		<div class="untree_co-section">
      <div class="container">

        <div class="block">
          <div class="row justify-content-center">


            <div class="col-md-8 col-lg-8 pb-4">


              <div class="row mb-5">
                <div class="col-lg-4">
                  <div  class="service no-shadow align-items-center link horizontal d-flex active" data-aos="fade-left" data-aos-delay="0">
                    <div class="service-icon color-1 mb-4">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                        <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                      </svg>
                    </div> <!-- /.icon -->
                    <div class="service-contents">
                      <p>Pet Station, kazhakuttam,kerala  695139</p>
                    </div> <!-- /.service-contents-->
					
                  </div> <!-- /.service -->
                </div>

                <div class="col-lg-4">
                  <div  class="service no-shadow align-items-center link horizontal d-flex active" data-aos="fade-left" data-aos-delay="0">
                    <div class="service-icon color-1 mb-4">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
                        <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z"/>
                      </svg>
                    </div> <!-- /.icon -->
                    <div class="service-contents">
                      <p>petstation2002@gmail.com</p>
                    </div> <!-- /.service-contents-->
                  </div> <!-- /.service -->
                </div>

                <div class="col-lg-4">
                  <div  class="service no-shadow align-items-center link horizontal d-flex active" data-aos="fade-left" data-aos-delay="0">
                    <div class="service-icon color-1 mb-4">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                      </svg>
                    </div> <!-- /.icon -->
                    <div class="service-contents">
                      <p>+91 ##########</p>
                    </div> <!-- /.service-contents-->
                  </div> <!-- /.service -->
                </div>
              </div>
              <form action="/contact" method="post" onsubmit="return validateForm()">
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label class="text-black" for="fname">First name</label>
                            <input type="text" class="form-control" id="fname" name="name">
                            <div id="fnameError" class="error-message"></div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label class="text-black" for="lname">Last name</label>
                            <input type="text" class="form-control" name="lastname" id="lname">
                            <div id="lnameError" class="error-message"></div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="text-black" for="email">Email address</label>
                    <input type="email" class="form-control" name="email" id="email">
                    <div id="emailError" class="error-message"></div>
                </div>
            
                <div class="form-group mb-5">
                    <label class="text-black" for="message">Message</label>
                    <textarea name="message" class="form-control" id="message" cols="30" rows="5"></textarea>
                    <div id="messageError" class="error-message"></div>
                </div>
            
                <button type="submit" class="btn btn-primary-hover-outline">Send Message</button>
            </form>

            </div>

          </div>

        </div>

      </div>


    </div>
  </div>

  <!-- End Contact Form -->
  <!-- find our location -->
	<div class="find-location ">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center text-black">
					<h1 class="fas fa-map-marker-alt" style="margin-bottom: 100px; font-weight: bold; color:#3b5d50 ;" > Find Our Location</h1>
				</div>
			</div>
		</div>
	</div>
	<!-- end find our location -->

	<!-- google map section -->
	<div class="embed-responsive embed-responsive-21by9">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3945.161761827937!2d76.86153250935344!3d8.580440895815999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b05bf7ce93dfa33%3A0xa7fe3f2d12c13f90!2sDotspace%20Business%20Park!5e0!3m2!1sen!2sin!4v1701092794447!5m2!1sen!2sin" width="100%" height="550" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>	</div>
	<!-- end google map section -->


		

<%- include('../partials/userpartials/footer.ejs') %>


		<script src="/jsUT/bootstrap.bundle.min.js"></script>
		<script src="/jsUT/tiny-slider.js"></script>
		<script src="/jsUT/custom.js"></script>
	</body>

  <script>
    function validateForm() {
        var fname = document.getElementById("fname").value;
        var lname = document.getElementById("lname").value;
        var email = document.getElementById("email").value;
        var message = document.getElementById("message").value;

        // Reset previous error messages
        document.getElementById("fnameError").innerHTML = "";
        document.getElementById("lnameError").innerHTML = "";
        document.getElementById("emailError").innerHTML = "";
        document.getElementById("messageError").innerHTML = "";

        // Validate first name (only letters and spaces)
        var nameRegex = /^[a-zA-Z ]+$/;
        if (!nameRegex.test(fname)) {
            document.getElementById("fnameError").innerHTML = "First name should only contain letters and spaces.";
            return false;
        }

        // Validate last name (only letters and spaces)
        if (!nameRegex.test(lname)) {
            document.getElementById("lnameError").innerHTML = "Last name should only contain letters and spaces.";
            return false;
        }

        // Validate email
        var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
        if (!emailRegex.test(email)) {
            document.getElementById("emailError").innerHTML = "Invalid email address.";
            return false;
        }

        // Validate message length
        if (message.trim().length === 0) {
            document.getElementById("messageError").innerHTML = "Message cannot be empty. atleast 3 letters needed";
            return false;
        }

        // Additional validation logic can be added here

        return true;
    }
</script>
</html>
