<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('../partials/layoutpage') %>
  <title>OTP</title>
</head>

<body>
  <section class="container-fluid bg-body-tertiary d-block">
    <%- include("../partials/userpartials/header.ejs") %>
    <div class="row justify-content-center">
      <div class="col-12 col-md-6 col-lg-4" style="min-width: 500px;">
        <div class="card bg-white mb-5 mt-5 border-0" style="box-shadow: 0 12px 15px rgba(0, 0, 0, 0.02);">
          <form action="/otppage" method="POST">
            <div class="card-body p-5 text-center">
              <h4>Verify</h4>
              <p>Your code was sent to you via email</p>

              <div class="otp-field mb-4">
                <input type="number" maxlength="1" name="digit1" required />
                <input type="number" maxlength="1" name="digit2" required />
                <input type="number" maxlength="1" name="digit3" required />
                <input type="number" maxlength="1" name="digit4" required />
                <input type="number" maxlength="1" name="digit5" required />
                <input type="number" maxlength="1" name="digit6" required />
              </div>

              <button class="btn btn-primary mb-3" type="submit">
                Verify
              </button>

              <p class="resend text-muted mb-0">
                Didn't receive the code? <a href="#">Request again</a>
              </p>
            </div>
          </form>

        </div>
      </div>
    </div>
    <%- include("../partials/userpartials/footer.ejs") %>
  </section>

<!-- 
  <script>
    const inputs = document.querySelectorAll(".otp-field > input");
    const button = document.querySelector(".btn");

    window.addEventListener("load", () => inputs[0].focus());
    button.setAttribute("disabled", "disabled");

    inputs[0].addEventListener("paste", function (event) {
      event.preventDefault();

      const pastedValue = (event.clipboardData || window.clipboardData).getData(
        "text"
      );
      const otpLength = inputs.length;

      for (let i = 0; i < otpLength; i++) {
        if (i < pastedValue.length) {
          inputs[i].value = pastedValue[i];
          inputs[i].removeAttribute("disabled");
          inputs[i].focus;
        } else {
          inputs[i].value = ""; // Clear any remaining inputs
          inputs[i].focus;
        }
      }
    });

    inputs.forEach((input, index1) => {
      input.addEventListener("keyup", (e) => {
        const currentInput = input;
        const nextInput = input.nextElementSibling;
        const prevInput = input.previousElementSibling;

        if (currentInput.value.length > 1) {
          currentInput.value = "";
          return;
        }

        if (
          nextInput &&
          nextInput.hasAttribute("disabled") &&
          currentInput.value !== ""
        ) {
          nextInput.removeAttribute("disabled");
          nextInput.focus();
        }

        if (e.key === "Backspace") {
          inputs.forEach((input, index2) => {
            if (index1 <= index2 && prevInput) {
              input.setAttribute("disabled", true);
              input.value = "";
              prevInput.focus();
            }
          });
        }

        button.classList.remove("active");
        button.setAttribute("disabled", "disabled");

        const inputsNo = inputs.length;
        if (!inputs[inputsNo - 1], name = "digit" && inputs[inputsNo - 1].value !== ""); {
          button.classList.add("active");
          button.removeAttribute("disabled");

          return;
        }
      });
    });
  </script> -->
</body>

</html>