<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('../partials/layoutpage') %>
  <title>OTP</title>
</head>

<body>
  <section class="container-fluid bg-body-tertiary d-block">
    <%- include("../partials/userpartials/header.ejs") %>
    <div class="row justify-content-center">
      <div class="col-12 col-md-6 col-lg-4" style="min-width: 500px;">
        <div class="card bg-white mb-5 mt-5 border-0" style="box-shadow: 0 12px 15px rgba(0, 0, 0, 0.02);">
          <form action="/otppage" method="POST">
            <div class="card-body p-5 text-center">
              <h4>Verify</h4>
              <p>Your code was sent to you via email</p>

              <div class="otp-field mb-4">
                <input type="number" maxlength="1" name="digit1" required />
                <!-- <input type="number" maxlength="1" name="digit2" required />
                <input type="number" maxlength="1" name="digit3" required />
                <input type="number" maxlength="1" name="digit4" required />
                <input type="number" maxlength="1" name="digit5" required />
                <input type="number" maxlength="1" name="digit6" required /> -->
              </div>

              <button class="btn btn-primary mb-3" type="submit">
                Verify
              </button>
              <div class="text-center">
                <p id="timer"></p>
                <a id="resendBtn" class="btn_3  mb-3 disabled " href="/resendotp"  onclick="resendOTP()" style="color: white;">Resend OTP</a>
            </div>
              <p class="resend text-muted mb-0">
                Didn't receive the code? <a href="#">Request again</a>
              </p>
            </div>
          </form>

        </div>
      </div>
    </div>
    <%- include("../partials/userpartials/footer.ejs") %>
  </section>



  <script>
      let timer;
      let timeLeft = 60; // Time in seconds
  
      function startTimer() {
          timer = setInterval(function () {
              document.getElementById('timer').innerHTML = 'Time left: ' + timeLeft + ' seconds';
              timeLeft--;
  
              if (timeLeft < 0) {
                  clearInterval(timer);
                  document.getElementById('timer').innerHTML = '';
                  document.getElementById('resendBtn').classList.remove('disabled');
              } else {
                  document.getElementById('resendBtn').classList.add('disabled');
              }
          }, 1000);
      }
  
      // Start the timer when the page loads
      startTimer();
  </script>
  

   

   

       

  

      
      
    
  
  </script>
</body>

</html>