<!DOCTYPE html>
<html>
 <head>
   <title>OTP Verification Success Page</title>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
 </head>
 <body>
  <%- include("../partials/userpartials/header.ejs") %>
   <div class="container mt-5">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title ">OTP Verification Successful</h5>
        <p class="card-text">Your OTP has been successfully verified. You can now proceed to the next step.</p>
        <a href="/" class="btn btn-primary">Login</a>
      </div>
    </div>
   </div>
   <%- include("../partials/userpartials/footer.ejs") %>
   <style>
     body {
      background-color: #e1e1e1 !important;
      display: flex;
      align-items: center;
      height: 100vh;
     }

     .card {
      border: none !important;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
     }

     .card-body {
      text-align: center;
     }
   </style>
 </body>
</html>
