
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Untree.co">
    <link rel="shortcut icon" href="favicon.png">

    <meta name="description" content="" />
    <meta name="keywords" content="bootstrap, bootstrap4" />

    <!-- Bootstrap CSS -->

    <link href="/cssUT/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="/cssUT/tiny-slider.css" rel="stylesheet">
    <link href="/cssUT/style.css" rel="stylesheet">
    <title>Shooping page</title>
</head>

<body>

    <!-- Start Header/Navigation -->
    <%- include('../partials/userpartials/header.ejs') %>
        <!-- End Header/Navigation -->

        <!-- Start Hero Section -->
        <div class="hero">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-lg-5">
                        <div class="intro-excerpt">
                            <h1>Shop</h1>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <p>"Pets are humanizing. They remind us we have an obligation and responsibility to preserve and
                            nurture and care for all life. Money can buy you a fine dog, but only love can make him wag
                            his tail. The trouble with a kitten is that eventually it becomes a cat."</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Hero Section -->



        <div class="untree_co-section product-section before-footer-section">
            <div class="container">
                <div class="row">

                    <!-- Start Column 1 -->
                    <div class="col-12 col-md-4 col-lg-3 mb-5">
                        <a class="product-item" href="/productview">
                            <img src="/img/karsten-winegeart-nwe2qgAhT4k-unsplash (1).png"
                                class="img-fluid product-thumbnail">
                            <h3 class="product-title">Nordic Chair</h3>
                            <strong class="product-price">Rs:1999</strong>

                            <span class="icon-cross">
                                <img src="images/cross.svg" class="img-fluid">
                            </span>
                        </a>
                    </div>
                    <!-- End Column 1 -->

                    <!-- Start Column 2 -->
                    <div class="col-12 col-md-4 col-lg-3 mb-5">
                        <a class="product-item" href="/productview">
                            <img src="/img/karsten-winegeart-nwe2qgAhT4k-unsplash (1).png"
                                class="img-fluid product-thumbnail">
                            <h3 class="product-title">Nordic Chair</h3>
                            <strong class="product-price">Rs:1999</strong>

                            <span class="icon-cross">
                                <img src="images/cross.svg" class="img-fluid">
                            </span>
                        </a>
                    </div>
                    <!-- End Column 2 -->

                    <!-- Start Column 3 -->
                    <div class="col-12 col-md-4 col-lg-3 mb-5">
                        <a class="product-item" href="#">
                            <img src="/img/karsten-winegeart-nwe2qgAhT4k-unsplash (1).png"
                                class="img-fluid product-thumbnail">
                            <h3 class="product-title">Kruzo Aero Chair</h3>
                            <strong class="product-price">Rs:1999</strong>

                            <span class="icon-cross">
                                <img src="images/cross.svg" class="img-fluid">
                            </span>
                        </a>
                    </div>
                    <!-- End Column 3 -->

                    <!-- Start Column 4 -->
                    <div class="col-12 col-md-4 col-lg-3 mb-5">
                        <a class="product-item" href="#">
                            <img src="/img/karsten-winegeart-nwe2qgAhT4k-unsplash (1).png"
                                class="img-fluid product-thumbnail">
                            <h3 class="product-title">Ergonomic Chair</h3>
                            <strong class="product-price">Rs:1999</strong>

                            <span class="icon-cross">
                                <img src="images/cross.svg" class="img-fluid">
                            </span>
                        </a>
                    </div>
                    <!-- End Column 4 -->


                    <!-- Start Column 1 -->
                    <div class="col-12 col-md-4 col-lg-3 mb-5">
                        <a class="product-item" href="#">
                            <img src="/img/karsten-winegeart-nwe2qgAhT4k-unsplash (1).png"
                                class="img-fluid product-thumbnail">
                            <h3 class="product-title">Nordic Chair</h3>
                            <strong class="product-price">Rs:1999</strong>

                            <span class="icon-cross">
                                <img src="images/cross.svg" class="img-fluid">
                            </span>
                        </a>
                    </div>
                    <!-- End Column 1 -->

                    <!-- Start Column 2 -->
                    <div class="col-12 col-md-4 col-lg-3 mb-5">
                        <a class="product-item" href="#">
                            <img src="/img/karsten-winegeart-nwe2qgAhT4k-unsplash (1).png"
                                class="img-fluid product-thumbnail">
                            <h3 class="product-title">Nordic Chair</h3>
                            <strong class="product-price">Rs:1999</strong>

                            <span class="icon-cross">
                                <img src="images/cross.svg" class="img-fluid">
                            </span>
                        </a>
                    </div>
                    <!-- End Column 2 -->

                    <!-- Start Column 3 -->
                    <div class="col-12 col-md-4 col-lg-3 mb-5">
                        <a class="product-item" href="#">
                            <img src="/img/karsten-winegeart-nwe2qgAhT4k-unsplash (1).png"
                                class="img-fluid product-thumbnail">
                            <h3 class="product-title">Kruzo Aero Chair</h3>
                            <strong class="product-price">Rs:1999</strong>

                            <span class="icon-cross">
                                <img src="images/cross.svg" class="img-fluid">
                            </span>
                        </a>
                    </div>
                    <!-- End Column 3 -->

                    <!-- Start Column 4 -->
                    <div class="col-12 col-md-4 col-lg-3 mb-5">
                        <a class="product-item" href="#">
                            <img src="/img/karsten-winegeart-nwe2qgAhT4k-unsplash (1).png"
                                class="img-fluid product-thumbnail">
                            <h3 class="product-title">Ergonomic Chair</h3>
                            <strong class="product-price">Rs:1999</strong>

                            <span class="icon-cross">
                                <img src="images/cross.svg" class="img-fluid">
                            </span>
                        </a>
                    </div>
                    <!-- End Column 4 -->


<!-- poppular product -->
		 <div class="popular-product">
			<div class="container">
				<div class="row">

					<div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
						<div class="product-item-sm d-flex">
							<div class="thumbnail">
								<img src="/img/Meet Three Best Friends – Two Dogs And A Cat Who Love Doing Everything Together.jpeg" alt="Image" class="img-fluid">
							</div>
							<div class="pt-3">
								<h3>Nordic Chair</h3>
								<p>Donec facilisis quam ut purus rutrum lobortis. Donec vitae odio </p>
								<p><a href="#">Read More</a></p>
							</div>
						</div>
					</div>

					<div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
						<div class="product-item-sm d-flex">
							<div class="thumbnail">
								<img src="/img/Meet Three Best Friends – Two Dogs And A Cat Who Love Doing Everything Together.jpeg" alt="Image" class="img-fluid">
							</div>
							<div class="pt-3">
								<h3>Kruzo Aero Chair</h3>
								<p>Donec facilisis quam ut purus rutrum lobortis. Donec vitae odio </p>
								<p><a href="#">Read More</a></p>
							</div>
						</div>
					</div>

					<div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
						<div class="product-item-sm d-flex">
							<div class="thumbnail">
								<img src="/img/Meet Three Best Friends – Two Dogs And A Cat Who Love Doing Everything Together.jpeg" alt="Image" class="img-fluid">
							</div>
							<div class="pt-3">
								<h3>Ergonomic Chair</h3>
								<p>Donec facilisis quam ut purus rutrum lobortis. Donec vitae odio </p>
								<p><a href="#">Read More</a></p>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div> 










                    <div class="blog-section">
                        <div class="container">
                            <div class="row mb-5">
                                <div class="col-md-6">
                                    <h2 class="section-title">Recent Blog</h2>
                                </div>
                                <div class="col-md-6 text-start text-md-end">
                                    <a href="#" class="more">View All Posts</a>
                                </div>
                            </div>

                            <div class="row">

                                <div class="col-12 col-sm-6 col-md-4 mb-4 mb-md-0">
                                    <div class="post-entry">
                                        <a href="#" class="post-thumbnail"><img src="/img/27 Heartwarming Photos Of Pets Rescued After Sandy.jpeg" alt="Image"
                                                class="img-fluid"></a>
                                        <div class="post-content-entry">
                                            <h3><a href="#">Grooming & Accessories</a></h3>
                                            <div class="meta">
                                                <span>All Grooming Accessories</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-sm-6 col-md-4 mb-4 mb-md-0">
                                    <div class="post-entry">
                                        <a href="#" class="post-thumbnail"><img src="/img/Here’s the Perfect Pet to Own Based On Your Sign – Makeful.jpeg" alt="Image"
                                                class="img-fluid"></a>
                                        <div class="post-content-entry">
                                            <h3><a href="#">Adoption </a></h3>
                                            <div class="meta">
                                                <span>All Adoption</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-sm-6 col-md-4 mb-4 mb-md-0">
                                    <div class="post-entry">
                                        <a href="#" class="post-thumbnail"><img src="/img/How to Introduce a New Puppy to Your Cat _ PawLeaks.jpeg" alt="Image"
                                                class="img-fluid"></a>
                                        <div class="post-content-entry">
                                            <h3><a href="#">Sales & Rent</a></h3>
                                            <div class="meta">
                                                <span>All Sales</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Start Footer Section -->
        <%- include('../partials/userpartials/footer.ejs') %>
            <!-- End Footer Section -->


            <script src="js/bootstrap.bundle.min.js"></script>
            <script src="js/tiny-slider.js"></script>
            <script src="js/custom.js"></script>
</body>

</html>