<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <%- include('../../partials/layoutpage.ejs') %>
  <title>User Details</title>

  <link id="pagestyle" href="/assets/css/material-dashboard.css?v=3.1.0" rel="stylesheet" />
  <style>
    .btn-primary-left {
      margin-right: 10px;
    }

    .btn-primary-right {
      margin-left: 10px;
    }
  </style>
</head>

<body class="g-sidenav-show bg-gray-200">
  <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg">
    <div class="container-fluid">
      <div class="row mb-4">
        <div class="col-12 grid-margin">
          <div class="card">
            <div class="card-body">
              <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                  <h6 class="text-white text-capitalize ps-3">Add new Address</h6>
                </div>
              </div>
              <div class="table-responsive">
                <form action="/add-address" method="post" >
                  <!-- Form content... -->
               
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="name" class="form-label">Name:</label>
                          <input type="text" class="form-control" name="name" required>

                        </div>
                        <div class="form-group">
                          <label for="homeaddress" class="form-label">Address</label>
                          <input type="text" class="form-control" name="homeaddress" required>
                        </div>
                        
                        <div class="form-group ">
                          <label for="district" class="form-label">District</label>
                          <input type="text" class="form-control" name="district" required>
                        </div>
                        
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="pincode" class="form-label">Pincode</label>
                          <input type="number" class="form-control" name="pincode" required>
                        </div>
                        <div class="form-group">
                          <label for="phone" class="form-label">Phone</label>
                          <input type="number" class="form-control" name="phone" required>
                        </div>
                        <div class="form-group">
                          <label for="email" class="form-label">E-mail</label>
                          <input type="email" class="form-control" name="email" required>
                        </div>
                        <div class="form-group">
                          <label for="state" class="form-label">State:</label>
                          <input type="text" class="form-control" name="state" required>
                        </div>
                      </div>
                    </div>
      
                  <div class="form-group mt-4">
                  <button type="submit" class="btn btn-primary btn-primary-left" style="padding-top: 10px;">Save changes</button>
                  </div>
                </form>
              </div>
            </div>
      
